
input.flat {
    font: 12pt 'Arial';
    border: none;
    padding: 10pt 20pt;
    text-align: center;
    cursor: pointer;
    background-color: #CCC
}

input.move {
    width: 80px;
    font: bold 12pt 'Arial';
    padding: 5px 5px;
    margin: 5px 5px;
}

table td.sticker {
    text-align: center;
    font: bold 12pt 'Arial';
    width: 40px;
    height: 40px;
    padding: 0 0;
    border: 1px solid;
}

div.mainArea {
    position: relative;
    padding: 10px 10px;
    border: 2px solid;
    border-radius: 10px;
    margin: auto;
}

#menu {
    display: table;
    margin: 0 10px;
}

div.menuItem {
    float: left;
    padding: 10px 20px;
    font: bold 12pt 'Arial';
    text-align: right;
    margin: 5px 5px 0 0;
    cursor: pointer;
    background-color: #CCC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.activeMenuItem {
    background-color: #AAA
}